.sw-header {
  background-color: white;
  padding: 10px 30px 5px 30px;
  display: flex;

  .title-container {
    margin-top: 15px;
    margin-left: 5px;
    font-weight: bold;
    font-size: large;
  }

  img {
    height: 100%;
    width: auto;
  }
}
