.circle {
  cursor: pointer;
  width: 80px;

  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  font-variant: petite-caps;
  background: black;
  box-shadow: 0 0 1em;
  margin: 0 auto 20%;
}
