/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

body {
  background-image: url(/assets/background.png);
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.sw-content {
  background-color: black;
  padding: 20px 0 20px 0;
}
